<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-myscreensaver"
        version="1.0.0">

    <name>MyScreensaverPlugin</name>
    <description>A Cordova plugin for managing screensavers.</description>
    <license>MIT</license>

    <!-- Android platform -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyScreensaverPlugin">
                <param name="android-package" value="my.screensaver.plugin.MyScreensaverPlugin" />
            </feature>
        </config-file>

        <!-- Define the JavaScript interface -->
        <js-module src="www/myscreensaverplugin.js" name="MyScreensaverPlugin">
            <clobbers target="MyScreensaverPlugin" />
        </js-module>

        <!-- Define the Java source files -->
        <source-file src="android/MyScreensaverPlugin.java" target-dir="src/my/screensaver/plugin" />
        <source-file src="android/MyScreensaverService.java" target-dir="src/my/screensaver/plugin" />

        <!-- Specify permissions required by the plugin (if any) -->
        <uses-permission android:name="android.permission.BIND_DREAM_SERVICE" />

        <!-- Define the service -->
        <service android:name="my.screensaver.plugin.MyScreensaverService" android:exported="false">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService" />
            </intent-filter>
        </service>

        <!-- Define the preference screen and settings activity -->
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="MyScreensaverSettings">
                <param name="android-package" value="my.screensaver.plugin.MyScreensaverSettingsActivity" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <activity android:name="my.screensaver.plugin.MyScreensaverSettingsActivity"
                      android:label="Screensaver Settings"
                      android:exported="false">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.PREFERENCE" />
                </intent-filter>
            </activity>
             <!-- Service Declaration -->
            <service android:name="my.screensaver.plugin.MyScreensaverService"
                     android:exported="true" 
                     android:label="My Screensaver"
                     android:permission="android.permission.BIND_DREAM_SERVICE">
                <intent-filter>
                    <action android:name="android.service.dreams.DreamService" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
            </service>
        </config-file>

        <!-- Permissions -->
        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.BIND_DREAM_SERVICE"/>
        </config-file>
    </platform>
</plugin>
